<div class='route-display row vertical-center'>
    <div class='col-md-1 agency-wrap'>
        <img class='agency-logo' src={{logo}}>
    </div>
    <div class='col-md-3 trip-info-wrap'>
      {{trip-graph departureTime=departureTime
                   arrivalTime=arrivalTime
                   from=from
                   to=to
                   formattedDuration=formattedDuration
                   agency=agency
                   number=number}}
    </div>
    <div class='col-md-4'></div>
    <div class='col-md-2 price-wrap'>
      <div class="fare-price">
        {{camel-price price=wholePrice}}
          <p>
            per adult
          </p>
      </div>
    </div>
    <div class='col-md-1 button-wrap'>
        <button {{action "showPrices"}} type="button" class="btn {{if tripIsSelected 'btn-success'}} {{if pricesAreHidden 'btn-primary'}} {{unless pricesAreHidden 'btn-selected'}}">Seleziona</button>
    </div>
    <div class='col-md-12 {{if pricesAreHidden "hidden"}}'>
      <hr>
    </div>
    <div class='col-md-12 {{if pricesAreHidden "hidden"}}' style='margin-bottom: 15px'>
      <div class='pricing-table' style='width: 70%; float: left'>
        <table>
          <tr>
            <td></td>
            <td>Seconda</td>
            <td>Prima</td>
            <td>Business</td>
            <td>Club</td>
          </tr>
          <tr>
            <td style='text-align: right'>Super Economy</td>
            <td>
              {{price-select-button fare='secondaSuperEconomy'
                                    price=secondaSuperEconomy
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='primaSuperEconomy'
                                    price=primaSuperEconomy
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='businessSuperEconomy'
                                    price=businessSuperEconomy
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='clubSuperEconomy'
                                    price=clubSuperEconomy
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
          </tr>
          <tr>
            <td style='text-align: right'>Standard</td>
            <td>
              {{price-select-button fare='secondaStandard'
                                    price=secondaStandard
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='primaStandard'
                                    price=primaStandard
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='businessStandard'
                                    price=businessStandard
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='clubStandard'
                                    price=clubStandard
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
          </tr>
          <tr>
            <td style='text-align: right'>Flex</td>
            <td>
              {{price-select-button fare='secondaFlex'
                                    price=secondaFlex
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='primaFlex'
                                    price=primaFlex
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='businessFlex'
                                    price=businessFlex
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
            <td>
              {{price-select-button fare='clubFlex'
                                    price=clubFlex
                                    number=number
                                    priceSelected="selectPrice"}}
            </td>
          </tr>
        </table>
      </div>
      <div style='width: 30%; float: right'>
        <button {{action "confirmTrip"}} class='btn btn-checkout btn-absolute'>Continua</button>
      </div>
    </div>
</div>
